:root {
    /* Colors */
    --primary--light: #f0f8f8;
    --primary: #b9dacd;
    --primary--dark: #8bb0a1;

    --neutral--light: #ebebeb;
    --neutral--dark: #2c3e50;

    --danger: hsla(12, 100%, 50%, 0.6);
    --white: #fff;

    /* Fonts */
    --font: Avenir, Helvetica, Arial, sans-serif;
    --weight-bold: 700;

    /* Radii */
    --border-radii: 0.5rem;
    --border-radii--soft: 0.2rem;

    /* Transitions */
    --transition--soft: .3s ease;

    /* Layout */
    --layout-width: 1200px;
}

html {
    font-size: 20px;
    max-width: var(--layout-width);
    margin: 0 auto;
}

body {
    margin-bottom: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

.ab-btn {
    border: none;
    border-radius: var(--border-radii--soft);
    cursor: pointer;
    padding: .5rem;
    font-weight: var(--weight-bold);
    font-family: var(--font);
    transition: color 1s ease, border 1s ease;
}

.ab-btn--primary {
    background-color: var(--primary);
    color: var(--white);
}

.ab-btn--link {
    background-color: transparent;
    color: var(--primary--dark);
}

.ab-form svg {
    margin: 0 .2rem;
}

.ab-form {
    display: flex;
    display: flex;
    flex-direction: column;
    background: var(--neutral--light);
    max-width: 70vw;
    margin: 5rem auto 2rem auto;
    padding: 2.5rem 1.5rem 1rem 1.5rem;
    border-radius: var(--border-radii);
    max-width: 25rem;
}

.ab-form-footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: .8rem;
}

.ab-form-input {
    font-family: var(--font);
    padding: .5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: var(--border-radii--soft);
    width: 100%;
}

.ab-form-textarea {
    resize: none;
    min-height: 6rem;
}
